.notification_content{
  .bg-light-gray {
    background: #F3F3F3 0 0 no-repeat padding-box;
    border-radius: 10px;
    min-height: 110px;
    padding: 30px 15px;
    .abs {
      position: absolute;
      right: 10px;
      top: 10px;
      font: normal normal 500 14px/25px Poppins;
      color: #686767;
    }
    &.alert-red {
      background: #F9ECEC 0 0 no-repeat padding-box;
    }
  }
}


