

 

@media screen and (min-width: 1200px) {
  .container-1636 {
    max-width: 1636px;
    margin: 0 auto;
  }
  .container-1138 {
    max-width: 1138px;
  }
}
@media screen and (min-width: 900px) {
  .modal-lg, .modal-xl {
    max-width: 700px;
  }
}
@media screen and (max-width: 1200px) {

}
//media


@media screen and (max-width: 992px) {
 
}//media


@media screen and (max-width: 780px) {

}//media


@media screen and (max-width: 600px) {
 
}//media
